apiVersion: v1
kind: ReplicationController
metadata:
  name: kube2service
  namespace: kube-system
  labels:
    k8s-app: kube2service
spec:
  replicas: 1
  selector:
    k8s-app: kube2service
  template:
    metadata:
      labels:
        k8s-app: kube2service
    spec:
      containers:
      - name: kube2service
        image: {{ks_image}}
        resources:
          limits:
            cpu: {{ks_cpu}}
            memory: {{ks_memory}}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
            scheme: HTTP
          initialDelaySeconds: 60
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 5
        args:
        # command = "/kube2service"
        - -consulcfg_file=agents.yaml
        - -port_name={{ks_portname}}
        - -consul_prefix={{ks_svc_prefix}}
