apiVersion: v1
kind: ReplicationController
metadata:
  name: busybox
  labels:
    name: busybox
spec:
  replicas: 2
  selector:
    name: busybox
  template:
    metadata:
      labels:
        name: busybox
    spec:
      containers:
        - image: busybox
          name: busybox
          command:
            - sleep
            - "3600"

# ---

# apiVersion: v1
# kind: Service
# metadata:
#   labels:
#     name: busybox
#   name: busybox
# spec:
#   ports:
#     - port: 3033
#   selector:
#     name: busybox
