---

kind: PersistentVolume
apiVersion: v1
metadata:
  name: cephpv
  labels:
    type: rbd
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteMany
  # cephfs:
  #   monitors: {{ceph_mon_addrs}}
  #   user: admin
  #   secretRef:
  #     name: ceph-secret
  #   readOnly: false
  rbd:
    pool: rbd
    image: mysql
    user: admin
    keyring: "/etc/ceph/ceph.client.admin.keyring"
    secretRef:
      name: ceph-secret
    fsType: ext4
    readOnly: false
    monitors: {{ceph_mon_addrs}}

---

kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: cephpvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 512Mi