apiVersion: v1
kind: ReplicationController
metadata:
  name: mysql-slave
  labels:
    name: mysql-slave
spec:
  replicas: 1
  selector:
    name: mysql-slave
  template:
    metadata:
      labels:
        name: mysql-slave
    spec:
      containers:
        - image: peterwang115/mysql-slave:0.0.1
          name: mysql-slave
          resources:
            limits:
              cpu: 200m
              memory: 300Mi
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: "123456"
          ports:
            - containerPort: 3306
              name: mysql-slave
          volumeMounts:
            - name: mysql-slave-storage
              mountPath: /var/lib/mysql
      volumes:
        - name: mysql-slave-storage
          hostPath:
            path: /var/mysql/slave
---
apiVersion: v1
kind: Service
metadata:
  labels:
    name: mysql-slave
  name: mysql-slave
spec:
  ports:
    - port: 3306
  selector:
    name: mysql-slave
