apiVersion: v1
kind: ReplicationController
metadata:
  name: mysql-slave
  labels:
    name: mysql-slave
spec:
  replicas: 1
  selector:
    name: mysql-slave
  template:
    metadata:
      labels:
        name: mysql-slave
    spec:
      containers:
        - image: k8smesos/mysql-replication:slave
          name: mysql-slave
          resources:
            limits:
              cpu: 500m
              memory: 400Mi
          env:
            - name: MYSQL_USER
              value: "mysql"
            - name: MYSQL_ROOT_PASSWORD
              value: "123456"
            - name: MYSQL_DATABASE
              value: "sample"
            - name: MYSQL_REPLICATION_PASSWORD
              value: "repl"
          ports:
            - containerPort: 3306
              name: mysql-slave
      #     volumeMounts:
      #       - name: mysql-slave-storage
      #         mountPath: /var/lib/mysql
      # volumes:
      #   - name: mysql-slave-storage
      #     hostPath:
      #       path: /mnt/rdb/mysql/slave
---
apiVersion: v1
kind: Service
metadata:
  labels:
    name: mysql-slave
  name: mysql-slave
spec:
  ports:
    - port: 3306
  selector:
    name: mysql-slave
