---
apiVersion: v1
kind: ReplicationController
metadata:
  name: mysql-tomcat-demo
  labels:
    name: mysql-tomcat-demo
spec:
  replicas: 1
  selector:
    name: mysql-tomcat-demo
  template:
    metadata:
      labels:
        name: mysql-tomcat-demo
    spec:
      containers:
        - image: tomcat/demo:1.0.0
          name: mysql-tomcat-demo
          resources:
            limits:
              cpu: 0.7
              memory: 500Mi
          ports:
            - containerPort: 8080
              name: mysql-tomcat-demo

---

apiVersion: v1
kind: Service
metadata:
  labels:
    name: mysql-tomcat-demo
  name: mysql-tomcat-demo
spec:
  ports:
    - port: 8080
  selector:
    name: mysql-tomcat-demo
  type: LoadBalancer
