apiVersion: v1
kind: ReplicationController
metadata:
  name: mysql-slave
  labels:
    name: mysql-slave
spec:
  replicas: 1
  selector:
    name: mysql-slave
  template:
    metadata:
      labels:
        name: mysql-slave
    spec:
      containers:
        - image: mysql-slave:1
          name: mysql-slave
          resources:
            limits:
              cpu: 200m
              memory: 600Mi
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: "123456"
          ports:
            - containerPort: 3306
              name: mysql-slave
---
apiVersion: v1
kind: Service
metadata:
  labels:
    name: mysql-slave
  name: mysql-slave
spec:
  ports:
    - port: 3306
  selector:
    name: mysql-slave
