apiVersion: v1
kind: ReplicationController
metadata:
  name: mysql-master
  labels:
    name: mysql-master
spec:
  replicas: 1
  selector:
    name: mysql-master
  template:
    metadata:
      labels:
        name: mysql-master
    spec:
      containers:
        - image: peterwang115/mysql-master:0.0.1
          name: mysql-master
          resources:
            limits:
              cpu: 300m
              memory: 600Mi
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: "123456"
          ports:
            - containerPort: 3306
              name: mysql-master
          volumeMounts:
            - name: mysql-master-storage
              mountPath: /var/lib/mysql
      volumes:
        - name: mysql-master-storage
          hostPath:
            path: /var/mysql/master
          # cephfs:
          #   monitors: {{ceph_mon_addrs}}
          #   user: admin
          #   secretRef:
          #     name: ceph-secret
          #   readOnly: false
          # persistentVolumeClaim:
          #   claimName: mysqlpvc
---
apiVersion: v1
kind: Service
metadata:
  labels:
    name: mysql-master
  name: mysql-master
spec:
  ports:
    - port: 3306
  selector:
    name: mysql-master
