apiVersion: v1
kind: ReplicationController
metadata:
  name: mysql-master
  labels:
    name: mysql-master
spec:
  replicas: 1
  selector:
    name: mysql-master
  template:
    metadata:
      labels:
        name: mysql-master
    spec:
      containers:
        - image: k8smesos/mysql-replication:master
          name: mysql-master
          resources:
            limits:
              cpu: 500m
              memory: 400Mi
          env:
            - name: MYSQL_USER
              value: "mysql"
            - name: MYSQL_ROOT_PASSWORD
              value: "123456"
            - name: MYSQL_DATABASE
              value: "sample"
            - name: MYSQL_REPLICATION_PASSWORD
              value: "repl"
          ports:
            - containerPort: 3306
              name: mysql-master
          volumeMounts:
            - mountPath: "/var/lib/mysql"
              name: cephfs
      volumes:
        - name: cephfs
          rbd:
            pool: {{ceph_poll}}
            image: {{ceph_image}}
            user: admin
            keyring: ""
            secretRef:
              name: ceph-secret
            fsType: ext4
            readOnly: false
            monitors: {{ceph_mon_addrs}}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    name: mysql-master
  name: mysql-master
spec:
  ports:
    - port: 3306
  selector:
    name: mysql-master
