---
apiVersion: v1
kind: ReplicationController
metadata:
  name: tomcat-demo
  labels:
    name: tomcat-demo
spec:
  replicas: 1
  selector:
    name: tomcat-demo
  template:
    metadata:
      labels:
        name: tomcat-demo
    spec:
      containers:
        - image: zhpooer/tomcat-demo:0.0.1
          name: tomcat-demo
          resources:
            limits:
              cpu: 0.7
              memory: 500Mi
          ports:
            - containerPort: 8080
              name: tomcat-demo

---

apiVersion: v1
kind: Service
metadata:
  labels:
    name: tomcat-demo
  name: tomcat-demo
spec:
  ports:
    # the port that this service should serve on
    - name: tomcat-svc
      port: 8080
  # label keys and values that must match in order to receive traffic for this service
  selector:
    name: tomcat-demo
  type: LoadBalancer
