[Unit]
Description=Kubernetes Kube-Proxy Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target

[Service]
EnvironmentFile=-/etc/kubernetes/config
EnvironmentFile=-/etc/kubernetes/proxy
ExecStart=/usr/bin/kube-proxy \
  --master={{k8s_api_server_lb_url}}

Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
