apiVersion: v1
kind: Pod
metadata:
  name: kube-controller-manager
spec:
  hostNetwork: true
  containers:
  - name: kube-ontroller-manager
    image: zhpooer/kubernetes-mesos:v1.1.3_ubuntu_14
    command:
    - /usr/local/bin/km
    - controller-manager
    - --address={{ipaddr}}
    - --port=10252
    - --master={{haproxy_url}}
    - --cloud-provider=mesos
    - --cloud-config=/etc/kubernetes/mesos-cloud.cfg
    - --v=1
    volumeMounts:
    - mountPath: /etc/kubernetes/mesos-cloud.cfg
      name: mesoscfg
  volumes:
  - hostPath:
      path: /srv/kubernetes/mesos-cloud.cfg
    name: mesoscfg
