apiVersion: v1
kind: Pod
metadata:
  name: kube-apiserver
spec:
  hostNetwork: true
  containers:
  - name: kube-apiserver
    image: zhpooer/kubernetes-mesos:v1.1.3_ubuntu_14
    command:
    - /usr/local/bin/km
    - apiserver
    - --insecure-bind-address=0.0.0.0
    - --etcd-servers=http://{{etcd_ip}}:4001
    - --service-cluster-ip-range=10.0.0.0/16
    - --insecure-port=8080
    - --cloud-provider=mesos
    - --cloud-config=/etc/kubernetes/mesos-cloud.cfg
    - --secure-port=0
    - --v=1
    volumeMounts:
    - mountPath: /etc/kubernetes/mesos-cloud.cfg
      name: mesoscfg
  volumes:
  - hostPath:
      path: /tmp/ha/mesos-cloud.cfg
    name: mesoscfg
