apiVersion: v1
kind: Pod
metadata:
  name: kube-scheduler
spec:
  hostNetwork: true
  containers:
  - name: kube-scheduler
    image: zhpooer/kubernetes-mesos:v1.1.3_ubuntu_14
    command:
    - /usr/local/bin/km
    - scheduler
    - --address={{ipaddr}}
    - --mesos-master={{zk_addrs}}
    - --etcd-servers={{etcd_servers}}
    - --api-servers={{haproxy_url}}
    - --cluster-dns=10.10.10.10
    - --cluster-domain=cluster.local
    - --v=1
