apiVersion: v1
kind: Pod
metadata:
  name: kube-controller-manager
  namespace: kube-system
spec:
  containers:
  - command:
      - /hyperkube
      - controller-manager
      - --kubeconfig={{ kube_config_dir }}/controller-manager.kubeconfig
      - --service_account_private_key_file={{ kube_cert_dir }}/server.key
      - --root_ca_file={{ kube_cert_dir }}/ca.crt
    image: "{{hyperkube_image}}"
    livenessProbe:
      httpGet:
        path: /healthz
        port: 10252
      initialDelaySeconds: 15
      timeoutSeconds: 1
    name: kube-controller-manager
    volumeMounts:
      - mountPath: {{ kube_log_dir }}
        name: logfile
      - mountPath: {{ kube_config_dir }}
        name: configfile
  hostNetwork: true
  volumes:
    - hostPath:
        path: {{ kube_log_dir }}
      name: logfile
    - hostPath:
        path: {{kube_config_dir}}
      name: configfile
