apiVersion: v1
kind: Pod
metadata:
  name: scheduler-master
spec:
  hostNetwork: true
  containers:
  - name: scheduler-elector
    image: zhpooer/podmaster:1.1
    command:
    - /podmaster
    - --etcd-servers={{etcd_servers}}
    - --key=scheduler
    - --source-file=/kubernetes/kube-scheduler.yaml
    - --dest-file=/manifests/kube-scheduler.yaml
    volumeMounts:
    - mountPath: /kubernetes
      name: k8s
      readOnly: true
    - mountPath: /manifests
      name: manifests
  - name: controller-manager-elector
    image: zhpooer/podmaster:1.1
    command:
    - /podmaster
    - --etcd-servers={{etcd_servers}}
    - --key=controller
    - --source-file=/kubernetes/kube-controller-manager.yaml
    - --dest-file=/manifests/kube-controller-manager.yaml
    terminationMessagePath: /dev/termination-log
    volumeMounts:
    - mountPath: /kubernetes
      name: k8s
      readOnly: true
    - mountPath: /manifests
      name: manifests
  volumes:
  - hostPath:
      path: {{ kube_manifest_tmpl_dir }}
    name: k8s
  - hostPath:
      path: {{ kube_manifest_dir }}
    name: manifests
