127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{% for item in groups['all'] %}
{% if hostvars[item]['ansible_hostname'] is defined %}
{{ item }} {% if use_host_domain %}{{ hostvars[item]['ansible_hostname'] }}.{{ host_domain }}{% endif %} {{ hostvars[item]['ansible_hostname'] }}
{% endif %}
{% endfor %}
