apiVersion: v1
kind: Pod
metadata:
  name: kube-controller-manager
spec:
  hostNetwork: true
  containers:
  - name: kube-controller-manager
    image: peterwang115/kubernetes-mesos:1.1.2-ubuntu-14.04
    command:
    - controller-manager
      --master=http://{{ipaddr}}:{{api_port}}
      --cloud-provider=mesos
      --cloud-config=/etc/kubernetes/mesos-cloud.cfg
      --v=1 1>>/var/log/kube-controller-manager.log 2>&1
    livenessProbe:
      httpGet:
        path: /healthz
        port: 10252
      initialDelaySeconds: 15
      timeoutSeconds: 1
    volumeMounts:
    - mountPath: /var/log/kube-controller-manager.log
      name: logfile
  volumes:
  - hostPath:
      path: /var/log/kube-controller-manager.log
    name: logfile
