apiVersion: v1
kind: Pod
metadata:
  name: kube-scheduler
spec:
  hostNetwork: true
  containers:
  - name: kube-scheduler
    image: zhpooer/kubernetes-mesos:v1.1.3_ubuntu_14
    command:
    - km
    - scheduler
    - --address={{ipaddr}}
    - --mesos-master={{mesos_zk_addrs}}
    - --etcd-servers={{etcd_servers}}
    - --mesos-user=root
    - --api-servers={{k8s_api_servers}}
    - --cluster-dns=10.10.10.10
    - --ha
    - --cluster-domain=cluster.local
    - --v=2
