apiVersion: v1
kind: Pod
metadata:
  name: kube-controller-manager
spec:
  hostNetwork: true
  containers:
  - name: kube-controller-manager
    image: zhpooer/kubernetes-mesos:v1.1.3_ubuntu_14
    command:
    - km
    - controller-manager
    - --master=http://{{ipaddr}}:{{api_port}}
    - --cloud-provider=mesos
    - --cloud-config=/etc/kubernetes/mesos-cloud.cfg
    - --v=1
    livenessProbe:
      httpGet:
        path: /healthz
        port: 10252
      initialDelaySeconds: 15
      timeoutSeconds: 1
    volumeMounts:
    - mountPath: /etc/kubernetes
      name: mesoscfg
  volumes:
  - hostPath:
      path: /etc/kubernetes
    name: mesoscfg
