
[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=-/etc/sysconfig/kubelet
EnvironmentFile=-{{ kube_config_dir }}/kubelet
ExecStart=/usr/bin/kubelet $DAEMON_ARGS \
    $KUBELET_ADDRESS \
    $KUBELET_PORT \
    $KUBELET_HOSTNAME \
    $KUBELET_API_SERVER \
    $KUBELET_ARGS \
    $DEFAULT_IPV4 \
    $ETCD_AUTHORITY \
    $KUBERNETES_MASTER \
    $KUBE_API_ROOT \
    $CALICO_IPAM
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
