[Unit]
Description=etcd
After=etcd.service
Requires=etcd.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=20m

ExecStartPre=-/usr/bin/docker rm -f skydns
ExecStartPre=/usr/bin/docker pull skynetservices/skydns:2.5.3a

ExecStart=/usr/bin/docker run \
    --name=skydns \
    --publish={{ skydns_port }}:53 \
    --publish={{ skydns_port }}:53/udp \
    --env-file=/etc/default/skydns.env \
    skynetservices/skydns:2.5.3a \
    --addr=0.0.0.0:53

ExecStop=/usr/bin/docker stop skydns
ExecStopPost=-/usr/bin/docker rm -f skydns

[Install]
WantedBy=multi-user.target


{ mcode: '233d920cc4fd23',
  no: '00000008',
  amount: '100',
  consumerclient: 'weixin',
  consumeropenid: 'ohPKWwEqui9_o-6t4S09rp0dJgzM',
  appsign: '383d93c228c1add949767ea9acdf2f44n' }

data={"mcode":"0883079c442a","no":"00000003","amount":"100","consumerclient":"weixin","consumeropenid":"olFKswnCCHIUz_CT7ddstKCEevnc","appsign":"c4e68012a4abc675d8265f76288635e6"}
