# my global config
global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.
  # scrape_timeout is set to the global default (10s).

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      monitor: 'codelab-monitor'

# Load and evaluate rules in this file every 'evaluation_interval' seconds.
rule_files:
  # - "first.rules"
  # - "second.rules"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:

  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'k8s'
    scrape_interval: 5s
    scrape_timeout: 10s
    target_groups:
      - targets: ['192.168.33.121:8085']
        labels:
          group: 'k8s-1'
    basic_auth:
      username: 'root'
      password: 'root'
      
  - job_name: 'cadvisor'
    scrape_interval: 5s
    scrape_timeout: 10s
    target_groups:
      - targets: ['192.168.33.121:4194']

  - job_name: 'prometheus'

    # Override the global default and scrape targets from this job every 5 seconds.
    scrape_interval: 5s
    scrape_timeout: 10s
    target_groups:
      - targets: ['localhost:9090']
      
  - job_name: 'jmx'
    scrape_interval: 5s
    scrape_timeout: 10s
    target_groups:
      - targets: ['{{ansible_default_ipv4.address}}:9138']

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.
  # - job_name: consul
  #   scrape_interval: 5s
  #   consul_sd_configs:
  #   - server: '192.168.33.121:8500'
      # services: []
      
  - job_name: 'nodes-raw'

    scrape_interval: 5s
    target_groups:
      - targets:
        - "{{ansible_default_ipv4.address}}:9101"
        labels:
          group: 'node-bin'

  - job_name: 'nodes'

    scrape_interval: 5s
    target_groups:
      - targets:
{% for item in groups['all'] %}
        - {{item}}:{{node_exportor_port}}
{% endfor %}
        labels:
          group: 'node'
