[Unit]
Description=etcd
After=network.target
Before=flanneld.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=20m

ExecStart=/usr/bin/etcd \
    --name {{ inventory_hostname }} \
    --listen-peer-urls {{etcd_listen_peer_urls}} \
    --listen-client-urls {{etcd_listen_client_urls}} \
    --initial-advertise-peer-urls {{etcd_initial_advertise_peer_urls}} \
    --initial-cluster-state new \
    --initial-cluster-token {{etcd_initial_cluster_token}} \
    --advertise-client-urls {{etcd_advertise_client_urls}} \
{# Generate string like: 'member1=http://host1:port,member2=http://host2:port' #}
    --initial-cluster {% for item in groups['etcd_master'] -%}
                        {% if item != 'localhost' -%}
                          {{ hostvars[item].inventory_hostname }}={{etcd_url_scheme}}://{{ hostvars[item].inventory_hostname }}:{{ etcd_peer_port }}
                          {%- if not loop.last %},{% endif -%}
                        {%- endif -%}
                      {% endfor %}


[Install]
WantedBy=multi-user.target
