{# ETCD_MACHINES={% for node in groups[etcd_group_name] %}{{ etcd_url_scheme }}://{{ node }}:{{ etcd_client_port }}{% if not loop.last %},{% endif %}{% endfor %} #}
ETCD_MACHINES={{etcd_url_scheme}}://localhost:{{etcd_client_port}}
SKYDNS_DOMAIN={{ cluster_name }}
