---

apiVersion: v1
kind: ReplicationController
metadata:
  name: lb
  labels:
    app: service-loadbalancer
    version: v1
spec:
  replicas: 1
  selector:
    app: service-loadbalancer
    version: v1
  template:
    metadata:
      labels:
        app: service-loadbalancer
        version: v1
    spec:
      containers:
        - image: zhpooer/k8s_lb_haproxy:1.0.3
          imagePullPolicy: IfNotPresent
          name: haproxy
          ports:
            - containerPort: 80
              # hostPort: 32080
              protocol: TCP
            - containerPort: 1936
              # hostPort: 32936
              protocol: TCP
          env:
            - name: API_HOST
              value: "{{k8s_api_server_lb_ip}}"
            - name: API_PORT
              value: "{{k8s_api_server_lb_port}}"
---

apiVersion: v1
kind: Service
metadata:
  labels:
    name: lb-haproxy
  name: lb-haproxy
spec:
  ports:
    # the port that this service should serve on
    - port: 80
      name: port80
    - port: 1936
      name: porttest
  # label keys and values that must match in order to receive traffic for this service
  selector:
    app: service-loadbalancer
