apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs
spec:
  capacity:
    storage: 1024Mi
  accessModes:
    - ReadWriteMany
  nfs:
    # FIXME: use the right IP
    server: {{nfs_server}}
    path: "{{nfs_path}}"
