---
apiVersion: v1
kind: ReplicationController
metadata:
  name: wordpress
  labels:
    name: wordpress
spec:
  replicas: 1
  selector:
    name: wordpress
  template:
    metadata:
      labels:
        name: wordpress
    spec:
      containers:
        - image: library/wordpress:4.3.1
          name: wordpress
          env:
            - name: WORDPRESS_DB_PASSWORD
              # change this - must match mysql.yaml password
              value: "{{mysql_root_password}}"
            - name: WORDPRESS_DB_HOST
              value: "mysql.default.svc.cluster.local"
          ports:
            - containerPort: 80
              name: wordpress

---

apiVersion: v1
kind: Service
metadata:
  labels:
    name: wpfrontend
  name: wpfrontend
spec:
  ports:
    # the port that this service should serve on
    - port: 80
  # label keys and values that must match in order to receive traffic for this service
  selector:
    name: wordpress
  type: LoadBalancer
