MESES_HOSTNAME={{ ipaddr }}
MESES_IP={{ipaddr}}
MESES_MASTER={{mesos_zk_addrs}}
MESES_SWITCH_USER=0
MESES_CONTAINERIZERS=docker,mesos
MESES_ISOLATION=cgroups/cpu,cgroups/mem
MESES_LOG_DIR=/var/log/mesos
MESES_DOCKER_DAEMON_ARGS="{{docker_opts}}"
