frontend webserver
    bind *:{{k8s_api_server_lb_port}}
    default_backend appservs

backend appservs
    balance roundrobin
    option forwardfor
    option httpchk HEAD / HTTP/1.1\r\nHost:localhost
{% for ip in k8s_api_servers_ips %}
    server k8s{{loop.index}} {{ip}}:{{k8s_api_port}} check
{% endfor %}

listen stats 
    bind 127.0.0.1:1936
    mode http
    log global
    
    stats enable
    stats uri /
    stats hide-version
    stats auth someuser:password
