# Flanneld configuration options  

# etcd url location. Point this to the server where etcd runs
FLANNEL_ETCD="{% for item in groups['etcd_master'] -%}
               {% if item != 'localhost' -%}
                 {{etcd_url_scheme}}://{{ hostvars[item].inventory_hostname }}:{{ etcd_client_port }}{%- if not loop.last %},{% endif -%}
               {%- endif -%}
              {% endfor %}"

# etcd configuration key which is queried by flanneld
# For address range assignment
FLANNEL_ETCD_KEY="/{{ cluster_name }}/network"

# Any additional options that you want to pass
# Set this to your management network which your hosts are networked together
FLANNEL_OPTIONS="-iface={{ private_ipv4 }}"

