---

apiVersion: v1
kind: ReplicationController
metadata:
  name: kube2consul
  namespace: kube-system
  labels:
    k8s-app: kube2consul
spec:
  replicas: 1
  selector:
    k8s-app: kube2consul
  template:
    metadata:
      labels:
        k8s-app: kube2consul
    spec:
      containers:
      - name: kube2consul
        image: {{kc_image}}
        resources:
          limits:
            cpu: {{kc_cpu}}
            memory: {{kc_memory}}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
            scheme: HTTP
          initialDelaySeconds: 60
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 5
        args:
        # command = "/kube2consul"
        - -consul_agent={{kc_consul_agent}}
        - -resync_period={{kc_resync_period}}
        - -consul_prefix={{kc_consul_prefix}}
{% if kc_consul_user is defined %}
        - -consul_user={{kc_consul_user}}
        - -consul_pass={{kc_consul_pass}}
{% endif %}
