apiVersion: v1
kind: Config
current-context: kubectl-to-cluster.local
preferences: {}
clusters:
- cluster:
    certificate-authority-data: {{ca_cert.content}}
    server: https://192.168.33.121:6443
  name: cluster.local
contexts:
- context:
    cluster: cluster.local
    user: kubectl
  name: kubectl-to-cluster.local
users:
- name: kubectl
  user:
    token: 5hdfStFzo0xyOKIjbulBSsJ0Zs0RqMCK
